@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
}

:root {
  --glass-bg: rgba(255, 255, 255, 0.22);
  --glass-border: rgba(255, 255, 255, 0.555);
  --glass-hover: rgba(255, 255, 255, 0.28);
  --text-color: #ffffff;
  --accent-gradient: linear-gradient(135deg, #7dd3fc, #a855f7);
}


/* Background */

body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/fb50b7177147275.64d15c742c4de.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(126, 0, 101, 0);
  pointer-events: none;

  z-index: -1;
}

/* Main container */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBorder {
  padding: 25px;
  border-radius: 22px;

  background: var(--glass-bg);
  backdrop-filter: blur(35px) saturate(100%);
  -webkit-backdrop-filter: blur(35px) saturate(100%);

  border: 2px solid var(--glass-border);

  box-shadow:
    0 15px 40px rgba(0, 0, 0, 0),
    inset 0 1px 2px rgba(255, 255, 255, 0.4);

  color: var(--text-color);
  text-align: center;


}

.cardBorder::after {
  content: "";
  position: absolute;
  inset: -40px;
  z-index: -1;

  background: radial-gradient(circle 700px at center,
      rgba(47, 12, 247, 0.213),
      transparent 70%);

  filter: blur(90px);
}

#todoForm {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.todoTitle {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  font-family: "Inter", "Poppins", sans-serif;

  color: var(--text-color)
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}


.todoInput {
  color: var(--text-color);
  width: 220px;
  padding: 10px 14px;
  font-size: 18px;

  border-radius: 20px;
  border: none;

  background: rgba(255, 255, 255, 0.198);

  outline: none;

  transition: all 0.25s ease;
}

.todoInput::placeholder {
  color: rgba(104, 24, 141, 0.21);
}

.todoInput:focus {
  background: rgba(255, 255, 255, 0.32);
  border-color: rgba(255, 255, 255, 0.55);

  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

button {
  padding: 8px 12px;
  border-radius: 15px;

  border: none;

  background: var(--glass-bg);


  color: white;
  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  background-color: rgba(221, 245, 255, 0.487);
  transform: scale(1.05);
}

#todoList {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  width: 100%;

  color: var(--text-color);
  font-size: 16px;
}

.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 14px;
  margin: 8px 0;

  border-radius: 25px;

  background: rgba(255, 255, 255, 0.008);
  backdrop-filter: blur(1px);

  border: 1px solid rgba(255, 255, 255, 0.027);

  transition: all 0.25s ease;

}

.todoList:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
}

.todoText {
  flex: 1;
  margin-left: 14px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
}

.todoText.completed {
  opacity: 0.45;
  transform: translateX(6px);
}

.todoCheckbox {
  -webkit-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;

  border-radius: 6px;
  border: none;

  background: rgba(255, 255, 255, 0.359);

  cursor: pointer;
  position: relative;

  transition: all 0.2s ease;
}

.todoCheckbox:hover {
  background: rgba(55, 92, 226, 0.4);
}

.todoCheckbox:checked {
  border: none;
}

.todoCheckbox:checked::after {
  content: "";
  position: absolute;

  width: 5px;
  height: 10px;

  border: solid white;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);

  top: 3px;
  left: 7px;
}

.btn {
  position: relative;
  display: inline-block;
}

.btn .btnText {
  visibility: hidden;
  width: 60px;

  background: rgba(0, 0, 0, 0.317);
  color: white;

  text-align: center;
  border-radius: 6px;
  padding: 4px;

  position: absolute;
  left: 120%;
  top: 20%;
}

.btn:hover .btnText {
  visibility: visible;
}